<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="styles.css">
    <title>HIGHLIGHTS - EPIC MOMENTS</title>
	<meta charset="utf-8">
  </head>
  <body>
	<header>
	<div class="right">
      <ul class="right-container">
       <li><a href="https://alx-apply.hbtn.io/brand_alx/alx-logo.png"><img src="https://alx-apply.hbtn.io/brand_alx/alx-logo.png" width="100" height="50"></a></li>
        <li class="nav-item"><a href="file:///C:/Users/Austin/Desktop/VDW/highlights.html.html" class="left-underline nav-button" data-scroll style="color:white">Highlights</a></li>
        <li class="nav-item"><a href="file:///C:/Users/Austin/Desktop/VDW/inspirations.html.html" class="left-underline nav-button" data-scroll style="color:white">Inspirations</a></li>
		<li class="nav-item"><a href="file:///C:/Users/Austin/Desktop/VDW/tweet.html.html" class="left-underline nav-button" data-scroll style="color:white">Tweet</a></li>
        <li class="nav-item active"><a href="Home.html" class="left-underline nav-button" data-scroll style="color:white">Home</a></li>
      </ul>
    </div>
	</header>
	<main>
	<article>
    <div class="class1 p1" id="section-1">
      <hgroup>
        <h1>EPIC MOMENTS IN E-SPORTS</h1>
		<style>
        h1 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
    </style>
      </hgroup>
    </div>
    <div class="row">
      <div>
        <h2>E-SPORTS PLAYER PARRIES 30-HIT COMBO!</h2>
		<style>
        h2 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
    </style>
		<iframe width="420" height="360"
src="https://youtube.com/embed/JzS96auqau0">
</iframe>
        <p>This was one of the most iconic moments in e-sports history! Imagining being skillful enough to parry every signle hit of a 30-hit combo while under the pressure of being watched by hundreds of people! It would be nice to have Nigerian gamers step up and provide the world with epic highlights like this.</p>
		      </div>
			  <style>
        p {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
    </style>
	  <br> <!-- New line -->
      <div>
        <h3>SONICFOX HUMBLES A TRASH-TALKER</h3>
		<style>
        h3 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
    </style>
		<iframe width="420" height="360"
src="https://youtube.com/embed/fb3Uf-BclQA">
</iframe>
        <p>Imagine beating the person who has been cyber-bullying you for months, in your favourite videogame. E-sports is not just a competitive and fun avenue, but it is also a medium, in the midst of this toxic internet cyberspace, to give children the confidence to publicly prove themselves in areas where they have skills, in the face of their haters.</p>
		
      </div>
	  <br> <!-- New line --> 
    </div>
	</article>
	<aside>
	<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
	</aside>
	</main>
	<footer>
	<div class="foot">
        <div class="container">
	<p style="color:black">Made by Austin Aguguo for <a href="https://alx-apply.hbtn.io" target="_blank">ALX</a>.</p>
	</div>
	</div>
    </footer>
  </body>
</html>