<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="styles.css">
    <title>INSPIRATIONS - GAMES THAT INSPIRED ME</title>
	<meta charset="utf-8">
  </head>
  <body>
	<header>
	<div class="right">
      <ul class="right-container">
        <li><a href="https://alx-apply.hbtn.io/brand_alx/alx-logo.png"><img src="https://alx-apply.hbtn.io/brand_alx/alx-logo.png" width="100" height="50"></a></li>
        <li class="nav-item"><a href="highlights.html.html" class="left-underline nav-button" data-scroll style="color:white">Highlights</a></li>
        <li class="nav-item"><a href="inspirations.html.html" class="left-underline nav-button" data-scroll style="color:white">Inspirations</a></li>
		<li class="nav-item"><a href="tweet.html.html" class="left-underline nav-button" data-scroll style="color:white">Tweet</a></li>
        <li class="nav-item active"><a href="index.html" class="left-underline nav-button" data-scroll style="color:white">Home</a></li>
      </ul>
    </div>
	</header>
	<main>
	<article>
    <div class="class1 p1" id="section-1">
      <hgroup>
        <h1>GAMES THAT INSPIRED ME</h1>
		<style>
		h1 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
      </hgroup>
    </div>
    <div class="row">
      <div>
        <h2>MORTAL KOMBAT</h2>
		<style>
		h2 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
	<a href="https://wallpapercave.com/wp/wp1909297.jpg"><img src="https://wallpapercave.com/wp/wp1909297.jpg" width="700" height="300" class="left" alt="mortal kombat"></a>
        <p>One of the best fighting games in history! Mortal Kombat is an American media franchise centered on a series of video games, originally developed by Midway Games.</p>
		<p>My favourite character is Liu Kang! I played this game with my brother a lot growing up, and my best friends play MK too!</p>
<style>
		p {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>	

      </div>
	  <br> <!-- New line -->
      <div>
        <h3>TEKKEN</h3>
		<style>
		h3 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
		<a href="https://c4.wallpaperflare.com/wallpaper/623/56/855/tekken-7-akuma-heihachi-wallpaper-preview.jpg"><img src="https://c4.wallpaperflare.com/wallpaper/623/56/855/tekken-7-akuma-heihachi-wallpaper-preview.jpg" width="700" height="300" class="left" alt="tekken"></a>
        <p>Tekken (Japanese: 鉄拳, "Iron Fist") is a Japanese media franchise centered on a series of fighting video and arcade games developed by Bandai Namco</p>
		<p>I fell in love with this game because of the variety of real life martial arts in the game!</p>
      </div>
	  <br> <!-- New line --> 
      <div>
        <h3>STREET FIGHTER</h3>
		<img src="https://c4.wallpaperflare.com/wallpaper/902/546/372/street-fighter-street-fighter-v-video-games-ryu-street-fighter-wallpaper-preview.jpg" width="700" height="300" class="left" alt="street-fighter-street-fighter-v-video-games-ryu-street-fighter-wallpaper-preview">
        <p>Street Fighter is one of the highest-grossing video game franchises of all time and serves as one of Capcom's flagship series with total sales of 46 million units sold.</p>
		<p>I always enjoyed using low-tier characters to beat people using high tier characters! lol</p>
		</div>
		
		<br> <!-- New line --> 
      <div>
        <h3>FIFA</h3>
		<div>
		<img src="https://atalayar.com/sites/default/files/styles/foto_/public/noticias/Atalayar_FIFA%2021.jpg	" width="700" height="300" class="left" alt="fifa">
		<p>FIFA is a series of association football video games developed and released annually by Electronic Arts under the EA Sports label</p>
        <p>In any school you go to, you <b>HAVE</b> to know how to play FIFA. It was what brought a lot of people together!</p>
    </div>
	</div>
	</article>
	<aside>
	<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
	</aside>
	</main>
	<footer>
	<div class="foot">
        <div class="container">
	<p style="color:black">Made by Austin Aguguo for <a href="https://alx-apply.hbtn.io" target="_blank">ALX</a>.</p>
	</div>
	</div>
    </footer>
  </body>
</html>
