<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="styles.css">
    <title>TWEET - E-SPORTS ON SOCIAL MEDIA</title>
  </head>
  <body>
	<header>
	<div class="right">
      <ul class="right-container">
        <li><img src="https://alx-apply.hbtn.io/brand_alx/alx-logo.png" width="100" height="50"></li>
        <li class="nav-item"><a href="highlights.html.html" class="left-underline nav-button" data-scroll style="color:white">Highlights</a></li>
        <li class="nav-item"><a href="inspirations.html.html" class="left-underline nav-button" data-scroll style="color:white">Inspirations</a></li>
		<li class="nav-item"><a href="tweet.html.html" class="left-underline nav-button" data-scroll style="color:white">Tweet</a></li>
        <li class="nav-item active"><a href="index.html" class="left-underline nav-button" data-scroll style="color:white">Home</a></li>
      </ul>
    </div>
	</header>
	<main>
	<article>
    <div class="class1 p1" id="section-1">
      <hgroup>
        <h1>E-SPORTS ON SOCIAL MEDIA</h1>
		<style>
		h1 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
      </hgroup>
    </div>
	<div>
	<blockquote class="twitter-tweet"><p lang="en" dir="ltr">.<a href="https://twitter.com/SonicFox?ref_src=twsrc%5Etfw">@SonicFox</a> IS YOUR <a href="https://twitter.com/hashtag/WUFLS1?src=hash&amp;ref_src=twsrc%5Etfw">#WUFLS1</a> <a href="https://twitter.com/hashtag/MK11?src=hash&amp;ref_src=twsrc%5Etfw">#MK11</a> CHAMPION!!! <a href="https://t.co/WjNLzQIoqU">pic.twitter.com/WjNLzQIoqU</a></p>&mdash; WUFL | #WePlayUFL (@WePlayUFL) <a href="https://twitter.com/WePlayUFL/status/1376332365417570305?ref_src=twsrc%5Etfw">March 29, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
    <div class="row">
      <div>
        <h2>WHO IS SONICFOX?</h2>
		<style>
		h2 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
        <p>Dominique McLean, better known by SonicFox, is an American professional esports player of several fighting games. McLean is recognized for their versatility to pick up a new game or character and master it for professional play relatively quickly.</p>
		<p>McLean has topped many tournaments, including five Evolution Championship Series (EVO) events for four different game franchises. They are the highest paid fighting game esports player in the world as of August 4, 2019, with <b>over $600,000</b> in earnings.</p>
      </div>
	  <br> <!-- New line -->
      <div>
        <h3>IMPACT OF TWITTER AND SOCIAL MEDIA ON E-SPORTS</h3>
		<style>
		h3 {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
        <p>I discovered a great player like Sonicfox, as well as others on social media. Twitter, as well as other social media, like Youtube and Instagram helps to spread awareness of the amazing talent of various e-sports players! The Nigerian e-sports community can very much take advantage of this to showcase their talents!</p>
		<style>
		p {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
        }
		</style>
      </div>
    </div>
	</article>
	<aside>
	<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
	</aside>
	</main>
	<footer>
	<div class="foot">
        <div class="container">
	<p style="color:black">Made by Austin Aguguo for <a href="https://alx-apply.hbtn.io" target="_blank">ALX</a>.</p>
	</div>
	</div>
    </footer>
  </body>
</html>
